*{
padding:0px;
margin:0;
box-sizing:border-box;
border:2px solid red;
}
container{
    width:100%;
}
.main{
    width:100%;
background-color:#128C7E;

}
#icon {
    width:90px;
    background:transparent;
    border-radius:22px;
    background-size:cover;
    padding-left:22px;
}
.main ul {
    display:flex;
    font-size:30px;
    padding-right:80px
    justify-content:center;
    align-items:center;
}
.main ul li{
    list-style:none;
    text-align:center; 
}
.main ul li a{
    width:100%;
    color:#fff;
    text-decoration:none;
    text-transform:upper case;
    margin:22px;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display:none;
    background:white;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  border:2px solid black;
}
.dropdown :hover .dropdown-content{
    display:block;
}
.body{
    display:flex;
   flex-direction:row;
justify-content:center;
align-items:center;
}
.pass {
    display:flex;
}
.pass p{
 font-size:22px;
 margin-right:22px;
}
 .left p{
     padding-top:20px;
     font-size:16px;

 }
 .left h3{
     padding-top:20px;
     color: #868686;
 }
 .left ul{
     padding-top:30px;
     margin-left:2px;
     font-size:15px

 }
 .left ul li {
     color:#128C7E;

 list-style:none;
 padding:22px;

 }
 .left ul li a{
    color:#128C7E;
    text-decoration:none;
 }
 .left ul li :hover{
     text-decoration-line: underline;
 }
 .right{
    padding-top:100px;
    padding-bottom:100px;
 }
 .id{
     
     font-size: 25px;
     padding-left:10px;
     
 }
 .fab{
     margin-right:22px;
 }
.left ul li a ::after{
    content:">";
    margin:22px;
}
.portfolio{
    display:flex;
    flex-direction:row;
    width:100%;
}
.busines{
 padding-top:10px;
 display:flex;
 

}
.mini{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center

}
.busines h1 {
    font-size:28px;
}


}
.busines p{
    padding-top:15px;
    font-size:25px;
    word-spacing:1px;
    text-align:center
}
.bus2{
  display:flex;
    width: 30%;
}
.bus2 img{
position:absloute;
    background-size:cover;
    width:400px;
    margin-left:22px;
}
.round{
    background:#128C7E;
    border-radius:50%;
     color:cadetblue;
     width:100%;
     
}